.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
  .custom-width {
    max-width: 100% !important;
    /* Custom max width for small screens */
    min-width: 100% !important;
    /* Custom min width for small screens */
  }
}

@media (min-width: 768px) {
  .custom-width {
    max-width: 33.33333333% !important;
    min-width: 33.33333333% !important;
  }
}

@media (min-width: 992px) {
  .custom-width {
    max-width: 240px !important;
    min-width: 240px !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle-icon {
  width: 80px;
  /* You can adjust this size */
  height: 80px;
  /* Keep width and height equal to make it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* Makes it a circle */
  overflow: hidden;
  /* Ensures icon is cropped to the circle */
}

.circle-icon svg {
  width: 80px;
  /* Adjust icon size if needed */
  height: 80px;
  /* Adjust icon size if needed */
}